################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Rhythm/.vs
/Rhythm/packages
/Rhythm/Rhythm/bin
/Rhythm/Rhythm/obj/Debug
